:root {
  --main-color: #272b30;
  --main-color-rbg: 39, 43, 48;
  --seconde-color: #32383e;
  --color-text: #fff;
  --btn-main-color: #272729;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: #f03355 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.loader::after {
  margin: 8px;
}
@keyframes l16 {
  100% {
    transform: rotate(1turn);
  }
}

body {
  font-family: "Playwrite GB S", cursive;
}

.overlay {
  display: flex;
  position: fixed;
  inset: 0;
  background-color: rgba(var(--main-color-rbg), 0.8);
  z-index: 10000;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 100vh;
  background-color: var(--main-color);
  #bg-header {
    height: 30vh;
    background-image: url(../imgs/wraper.png);
    background-size: cover;
    background-position: 100% 50%;
  }
  nav {
    margin-top: -1rem;
    position: sticky !important;
    background-color: rgb(58, 73, 123) !important;
    font-size: 0.7rem;
    .navbar-brand {
      color: var(--color-text) !important;
      img {
        width: 2.5rem;
      }
    }
    ul {
      li {
        a.current {
          color: #09c !important;
        }
        a {
          color: var(--color-text) !important;
        }
      }
    }
  }
  #games {
    .card {
        transition-duration: 0.5s;
        opacity: 0.7;
      border: solid 1px rgb(36, 34, 34);
      background-color: var(--main-color);
      header {
        img {
          object-fit: contain;
          height: 9.5rem;
        }
        p {
          color: grey;
        }
        .desc {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      footer {
        border-top: solid 1px rgb(36, 34, 34);
      }
    }
  }
}

.badge {
  font-size: 0.6rem;
  color: #fff;
}

.footerbadge {
  font-size: 0.8rem;
}

main #games .card:hover{
    opacity: 1;
    transform: scale(1.05);
}

#description{
    background-color: var(--main-color);
    color: #fff;
    .col-md-4{
        image{
            object-fit: cover;
            max-height: 6rem;
        }
    }
}

#cartoona{
    a{
        text-decoration: none;
        display: flex;
    }
}